<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>NasaNE Lap Records{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="description" content="NasaNE Lap Database">
    <meta name="author" content="Aaron Van Blarcom">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.ico')}}"/>
        <!-- Bootstrap core CSS -->
        <link href="http://bootstrapdocs.com/v3.3.1/docs/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{url_for('static', filename='dashboard.css')}}" rel="stylesheet" media="screen">
    
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="http://bootstrapdocs.com/v3.3.1/docs/assets/js/ie-emulation-modes-warning.js"></script>
    {% block css %}{% endblock %}
  </head>

  <body>

    {% include 'headerDashboard.html' %}

    <div class="site-content">
      <div class="container-fluid">

        <div class="row">
          {% include 'admin/sidebar.html' %}
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!-- messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <br>
            <div class="row">
              <div class="col-md-12">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                {{message}}
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            {% endwith %}
            <!-- child template -->
            <h1 class="page-header">{{pghead}}</h1>
            {% block content %}{% endblock %}
            <!-- errors -->
            {% if error %}
              <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
            <br><br>

            {% include 'footerDashboard.html' %}
          </div>
        </div>
        <br>

        

      </div>
    </div>

    

        <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://bootstrapdocs.com/v3.3.1/docs/dist/js/bootstrap.min.js"></script>
<script src="http://bootstrapdocs.com/v3.3.1/docs/assets/js/docs.min.js"></script>
<script src="{{url_for('static', filename='admin.js')}}" type="text/javascript"></script>


    {% block js %}{% endblock %}

  </body>
</html>
