{% extends '_baseDashboard.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<h2 class="sub-header">Create</h2>
<div class="table-responsive">
  <form class="form" role="form" method="post" action="">

    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}


    <div class="col-lg-4 col-sm-4">
      {% for field in form %}
        {{ wtf.form_field(field) }}
      {% endfor %}

      <button class="btn btn-success" type="submit">Create {{ model_name }}</button>
    </div>
  </form>
</div>
{% endblock content %}
