{% extends "_baseDashboard.html" %}
{% block content %}

  <p><a href="{{ url_for('admin.create', model_name=model_name) }}" class="btn btn-md btn-success">Create {{ modelName }}</a></p>
  <h2 class="sub-header">Current {{ model_name }}</h2>
  <div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
            {% for col in data[0].__table__.columns.keys() %}
                <th>{{ col }}</th>
            {% endfor %}
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for row in data %}
          <tr>
              {% for col in data[0].__table__.columns.values() %}
                {% set col_model = col.__str__().split('.')[0] %}
                {% set col_name = col.__str__().split('.')[1] %}
                {% set new_mod = col_name.split('_')[0] %}
                {% if '_id' in col_name %}
                  <td>{{ row[new_mod].name }}</td>
                {% elif '_date' in col_name %}
                  {% if row[col_name] %}
                    <td>{{ row[col_name]|datetime_filter }}</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                {% else %}
                  <td>{{ row[col_name] }}</td>
                {% endif %}
              {% endfor %}
            <td>
              <a href="{{ url_for('admin.update', model_name=model_name, model_id = row.id) }}" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-edit"></span></a>
              <a href="{{ url_for('admin.delete', model_name=model_name, model_id = row.id) }}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>


{% endblock %}