
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="nav_item"><a href="{{ url_for('admin.overview') }}">Overview <span class="sr-only">(current)</span></a></li>
      <li class="nav_item"><a href="{{ url_for('admin.main', model_name='User', page=1) }}">Users</a></li>
      <li class="nav_item"><a href="{{ url_for('admin.main', model_name='Track', page=1) }}">Tracks</a></li>
      <li class="nav_item"><a href="{{ url_for('admin.main', model_name='Event', page=1) }}">Events</a></li>
      <li class="nav_item"><a href="{{ url_for('admin.main', model_name='RaceClass', page=1) }}">RaceClasses</a></li>
      <li class="nav_item"><a href="{{ url_for('admin.main', model_name='Sponsor', page=1) }}">Sponsors</a></li>
      <li class="nav_item"><a href="{{ url_for('admin.main', model_name='Car', page=1) }}">Cars</a></li>
      <li class="nav_item"><a href="{{ url_for('admin.main', model_name='Racer', page=1) }}">Racers</a></li>
      <li class="nav_item"><a href="{{ url_for('admin.main', model_name='BestLap', page=1) }}">Best Laps</a></li>
      
    </ul>
    <!--
    <ul class="nav nav-sidebar">
      <li><a href="">Nav item</a></li>
      <li><a href="">Nav item again</a></li>
      <li><a href="">One more nav</a></li>
      <li><a href="">Another nav item</a></li>
      <li><a href="">More navigation</a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="">Nav item again</a></li>
      <li><a href="">One more nav</a></li>
      <li><a href="">Another nav item</a></li>
    </ul>
    -->
</div>